<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- kakao SDK lib cdn연결   -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="/js/kakao_auth.js" ></script>


</head>
<body>
<h1>LOGIN</h1>



<form onsubmit="return false">
    <input type="text" placeholder="Email"><br>
    <input type="password" placeholder="Password"><br>
    <input type="submit" value="로그인"><br>
    <a href="javascript:kakaoLogin()">카카오로그인</a>

</form>

</body>
</html>